<h2>Agregar alumno</h2>
<div class="div">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse nesciunt repellendus reprehenderit perferendis, culpa cumque provident eum vitae? Voluptatum, ut! Sed, doloremque ipsam illo earum suscipit asperiores perferendis at explicabo?</p>
</div>